blockquote {
  text-align: center;
  margin-bottom: 100px;
  display: block;
  padding-left: 300px;
  padding-right: 300px;
}

.galeria {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 40px;
}

.galeria img {
  width: 100%;
}

.fotos-conteudo p {
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  blockquote {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 500px) {
  .galeria {
    grid-template-columns: 1fr;
  }
}
